/* Hero Section */
.hero-container {
    margin-top: 60px;
    width: 100%;                 
    height: 80vh;                
    display: flex;
    justify-content: center;
    overflow: hidden;             
  }
  
  .hero-image {
    width: 100%;                   
    height: auto;
    object-fit: cover;             
  }
  
  